* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ff6347;
}

ul, ol {
    list-style: none;
}

.leftfix {
    float: left;
}

.rightfix {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    overflow-x: hidden;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

html, body {
    scroll-behavior: smooth;
}

.container {
    width: 780px;
    padding: 0 60px;
    padding-bottom: 30px;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.no-shadow {
    box-shadow: 0 0;
}

.mgtop20px {
    margin-top: 20px;
}

.topimg {
    width: 900px;
    height: 350px;
    object-fit: cover;
    background-image: url(../images/coding.png);
    background-size: 100%;
    background-position-y: 45%;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 40px;
}

#time {
    margin-top: 50px;
    font-size: 80px;
    text-align: center;
    color: skyblue;
}

#zmd {
    position: absolute;
    font-size: 40px;
    width: 8em;
}

#header {
    margin-top: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#header h1 {
    margin-left: 30px;
    font-size: 40px;
}

#header-info {
    text-align: center;
    color: gray;
    margin-top: 40px;
    margin-right: 30px;
    font-style: italic;
    line-height: 1.6;
}

#info {
    background-color: orange;
}

.tle {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 50px;
    padding-left: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#info img {
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

#introduce {
    text-indent: 2em;
    color: white;
}

#blogroll {
    background-color: skyblue;
    font-size: 18px;
    line-height: 18px;
}

#blogroll .tle{
    line-height: 40px;
}

#blogroll img {
    width: 20px;
    vertical-align: top;
}

#blogroll a {
    text-decoration: none;
    color: #000;
}

#blogroll a:hover{
    color: #ff6347;
}

#blogroll table {
    width: 100%;
    height: 300px;
    text-align: center;
}

#menu>ul {
    position: relative;
}

.fst-menu {
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-indent: 20px;
    line-height: 50px;
    background-color: orange;
    color: white;
}

#menu {
    width: 900px;
    padding: 0;
    border-radius: 0;
    position: relative;
    /* margin-bottom: 100px; */
}

#menu img {
    width: 750px;
    height: 300px;
    position: absolute;
    left: 150px;
    object-fit: cover;
}

#menu>ul>li {
    display: inline-block;
}

.sec-menu {
    position: absolute;
    top: 0;
    left: 150px;
    width: 750px;
    height: 300px;
    visibility: hidden;
    background-color: rgba(135, 207, 235, 0.9);
}

.sec-menu li{
    float: left;
}

.sec-menu table {
    margin-left: 20px;
    font-size: 18px;
}

#menu>ul>li:hover .fst-menu {
    background-color: skyblue;
}

#menu>ul>li:hover .fst-menu::after {
    content: "✦";
    float: right;
    font-weight: bolder;
    padding-right: 10px;
    color: red;
}

#menu>ul>li:hover .sec-menu {
    visibility: visible;
}

.sec-menu tr {
    display: block;
    width: 680px;
    padding: 10px;
    border-bottom: 1px solid white;
}

.sec-menu td a {
    margin: 0 20px;
}

.sec-menu tr td:first-child {
    font-weight: bolder;
}

#nav {
    position: fixed;
    left: 20px;
    top: 200px;
    width: 150px;
    border-radius: 20px;
    background-color: skyblue;
    font-size: 20px;
    padding: 30px;
    color: white;
}

#nav a:hover {
    color: #ff6347;
}

#nav a:hover::after {
    float: right;
    content: "<=";
    font-weight: bolder;
}

#nav div:first-child {
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#nav ul {
    margin-left: 30px;
    margin-top: 10px;
}

#nav a {
    color: white;
}

#form {
    background-color: yellowgreen;
    margin-bottom: 30px;
}

#form table {
    margin: 0 auto;
    width: 400px;
    font-size: 20px;
}